<h1>Clients are coming soon!</h1>

<%#= binding.pry %>

<h1><%= t("Listing Clients") %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Telephone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.telephone %></td>
    <td><%= link_to "Show", client %></td>
    <td><%= link_to "Edit", edit_client_path(client) %></td>
    <td><%= link_to "Remove", client_path(client), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>
