
<h1>Books are coming soon!</h1>


<h1>Listing Books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.summary %></td>
    <td><%= link_to "Show", book %></td>
    <td><%= link_to "Edit", edit_book_path(book) %></td>
    <td><%= link_to "Remove", book_path(book), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>

<br>

<!-- <video>
  <source src="trailer.ogg" />
  <source src="movie.ogg" />
</video> -->

<%= video_tag "movie.mp4", controls:true, size: "240 * 320 " %>
<p>周二珂 - 匆匆那年.mp3"</p>
<%= audio_tag "周二珂 - 匆匆那年.mp3", controls:true %>

<br>
<%= link_to "New book", new_book_path %>
