<!DOCTYPE html>
<html>
  <head>
    <title>ActiveRecord</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <div class="pull-right">
        <%= link_to "Back to index", "/" %>
      </div>
      <br>
      <div class="pull-right">
        <%= link_to "Back", :back %>
      </div>
    </div>
  </body>
</html>
